img {
  width: 30%;
  margin: calc(10% / 6);
  transition: 0.2s;
  box-shadow: 0px 0px 2px 1000px #22222200;
}

img:hover {
  scale: 1.05;
  box-shadow: 0px 0px 2px 1000px #2222227f;
}

body {
  margin: 0;
}

nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6);
  padding: 15px 0;
  font-family: Roboto;
  font-size: 2rem;
}
